// Définition des variables pour les breakpoints
$mobile-breakpoint: 375px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1130px;

// Styles pour la version tablette (768px - 1129px)
@media screen and (min-width: $tablet-breakpoint) and (max-width: $desktop-breakpoint) {
  // Vos styles pour la version tablette (768px - 1129px)
}

// Styles pour la version desktop (à partir de 1130px)
@media screen and (min-width: $desktop-breakpoint) {
  // Vos styles pour la version desktop (1130px et plus)

  //Homepage
  .header{
    height: 96px;
  }

  .group__container{
    display: flex;
  }
  .section--fonctionnement{
    display: grid;
    justify-content: center;
    padding-right: 89px;
  }

  .section__restaurants{
    justify-content: center;
  }

  .reservation__container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 109px;
    grid-row-gap: 48px;
  }

  .card__wrapper{
    width: 490px;
  }

  .badge{
    left: 392px;
    bottom: 280px;
  }

  .heart__logo{
    left: 432px;
  }

  .heart__icon{
    left: 404px;
  }

  .footer{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 30px 25px;
    gap: 16px;
    margin-top: -58px;
  
    
    &__link-list{
      display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-right: 229px;
    gap: 22px;
    
    }

    
    &__logo{
      position:relative;
      bottom:40px;
      left: 865px;
    }
    
    
  }
  

  //Others

  .section__menu{
    display: grid;
    justify-content: center;
    
    width: 80%;
    margin-left: 119px;
  }

  .section__menu-title{
    padding-left: 175px;
  }

  .section__menu-icon{
    left: 465px;
  }

  .section__container{
    display: grid;
    justify-content: center;
    grid-gap: 37px;
  }

  .menu-item{
    width: 634px;
  }
}