// Couleurs 
$color-background-primary: #FFFFFF;
$color-background-secondary: #EAEAEA;
$color-background-tertiary: #D2D2D2;
$color-background-quaternary: #353535;

$color-primary: #000000;
$color-secondary: #FFFFFF;
$color-tertiary: #353535;

$color-icon: #7E7E7E;
$color-ellipse: #9356DC;
$color-btn: #FF79DA;
$color-badge: #99E2D0;
$color-txtbadge: #008766;


$color-title: #101010;

// Polices
$font-family-title:'Shrikhand', italic, sans-serif;
$font-family-body: 'Roboto', sans-serif;


// Tailles
$font-size-xlarge: 30px;
$font-size-large: 28px;
$font-size-title: 24px;
$font-size-paragraph: 18px;
$font-size-medium: 17px;
$font-size-small: 16px;
$font-size-xsmall: 15px;
$font-size-xxsmall: 14px;

$line-height-large: 44px;
$line-height-large: 40.82px;
$line-height-title: 28.13px;
$line-height-logo:  26px;
$line-height-paragraph: 21.09px;
$line-height-medium: 19.92px;
$line-height-small: 18.75px;
$line-height-xsmall: 17.63px;
$line-height-xxsmall: 16.41px;



//Font-Weight
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-light: 300;