@charset "UTF-8";
html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  max-width: 1440px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0;
}

.main-container {
  max-width: 1440px;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul, ol {
  list-style: none;
  padding: 0;
}

a,
a:visited,
a:active {
  text-decoration: none;
  color: #FFFFFF;
}

/*
.btn {
    background: linear-gradient(193.33deg, $color-ellipse -11.44%, $color-btn 123.93%);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    transform: matrix(1, 0, 0, -1, 0, 0);
    color: $color-secondary;
    font-size: $font-size-small;
    line-height: $line-height-small;
    text-align: center;
    width: 180px;
    height: 50px;


    &:hover {
            background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15))
            , linear-gradient(200.64deg, $color-ellipse -5.2%, $color-btn 110.74%);

            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);

        }
    }
*/
.reservation__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(210, 210, 210, 0.1);
  padding-top: 39.5px;
}
.reservation__section-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #000000;
}
.reservation__section-description {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #353535;
  margin-bottom: 27px;
}
.reservation__section-btn {
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  border: none;
  text-align: center;
  height: 50px;
  padding: 1rem;
  margin-bottom: 57px;
  cursor: pointer;
}
.reservation__section-btn:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
}
.reservation__section-btn .btn-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.badge {
  background: #99E2D0;
  color: #008766;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 16.41px;
  text-align: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  padding: 0.5em;
  position: relative;
  left: 70%;
  bottom: 286px;
}

/*.card__logo {
  font-size: 25px;
  position: relative;
  left: 29px;
  transition-duration: 100ms;
  opacity: 0;
}

#heartCheckbox {
  display: none;
}

#heartCheckbox:checked + label .card__logo {
  opacity: 1;
  background: linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.card__icon {
  font-size: 25px;
  color: green;
}*/
/*<input type="checkbox" id="heartCheckbox">
<label for="heartCheckbox">
<i class="card__logo fa-solid fa-heart"></i>
</label>
<i class="card__icon fa-regular fa-heart"></i>*/
.header__icon {
  cursor: pointer;
  margin: 24px 23px 23px 23px;
  color: #353535;
  font-size: 20px;
}

.section--fonctionnement {
  padding: 48px 20px 68px 20px;
  background: #FFFFFF;
  display: grid;
  justify-content: center;
}

.section__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.group__container {
  display: grid;
  gap: 24.94px;
  justify-content: center;
  position: relative;
}

.group__icon {
  color: #9356DC;
  position: relative;
  left: -8px;
  top: 47px;
}
.group__number {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 17px;
  color: #FFFFFF;
  position: relative;
  right: 23.1px;
  top: 45px;
}
.group .button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 322.49px;
  height: 72.38px;
  background: #F7F7F7;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
}
.group .button__icon {
  color: #7E7E7E;
  position: relative;
  right: 24px;
}
.group .button__icon-purple {
  color: #9356DC;
}
.group .button__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.section__restaurants {
  padding: 54px 18px 66px 17px;
  display: grid;
  justify-content: center;
  gap: 20px;
  background: #F7F7F7;
}

.section__title-padding {
  padding-bottom: 25px;
}

.dish__image {
  width: 100%;
  height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
}

.section__menu {
  width: 100%;
  border-radius: 40px 40px 0px 0px;
  background: #F7F7F7;
  position: relative;
  bottom: 58px;
}
.section__menu-title {
  font-family: "Shrikhand";
  font-style: italic;
  font-weight: 400;
  font-size: 28px;
  line-height: 41px;
  padding: 32px 17px 0px 17px;
}
.section__menu-icon {
  color: #101010;
  font-size: 22px;
  position: relative;
  bottom: 33px;
  left: 325px;
  cursor: pointer;
}

.container-btn {
  display: flex;
  justify-content: center;
}
.container-btn .btn__menu {
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  border: none;
  text-align: center;
  height: 50px;
  padding: 1rem;
  margin: 40px 0px 40px 0px;
  cursor: pointer;
  width: 186px;
  height: 50px;
}
.container-btn .btn__menu:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
}
.container-btn .btn__menu .btn-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.menu-item {
  margin: 12px 13px 12px 12px;
  padding: 12px 0px 12px 15px;
  max-width: 634px;
  height: 69px;
  background: #FFFFFF;
  box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
  border-radius: 15.0431px;
  cursor: pointer;
}
.menu-item__title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 21.09px;
  padding-bottom: 5px;
  color: #000000;
}
.menu-item__details {
  display: flex;
  justify-content: space-between;
  margin: 0;
}
.menu-item__details__description {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 21.09px;
  margin: 0;
  color: #000000;
}
.menu-item__details__price {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 21.09px;
  margin: 0;
  padding-right: 15px;
  color: #353535;
}
.menu-itemi {
  padding: 12px 16px 12px 15px;
  width: 634px;
  height: 69px;
  background: #FFFFFF;
  box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
  border-radius: 15.0431px;
}
.menu-itemi__title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 21.09px;
  color: #000000;
}
.menu-itemi__details {
  display: flex;
  justify-content: space-between;
}
.menu-itemi__details__description {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 21.09px;
  color: #000000;
}
.menu-itemi__details__price {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 21.09px;
  color: #353535;
}
.section__composition {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 28.13px;
  text-transform: uppercase;
  color: #000000;
  position: relative;
  margin: 0px 0px 12px 13px;
}
.section__composition::after {
  content: "";
  display: block;
  width: 50px;
  height: 0px;
  margin-top: 6px;
  border-bottom: 3px solid #99E2D0;
}

.card__image {
  width: 100%;
  max-height: 231px;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.card__content {
  padding: 16px 13px 12px 13px;
}
.card__text {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 21.09px;
  color: #000000;
}
.card__description {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 17px;
  line-height: 19.92px;
  color: #000000;
  margin-top: 10px;
  margin-bottom: 0px;
}
.card__icon {
  position: relative;
  left: 89%;
  bottom: 36px;
  color: #101010;
  font-size: 1.4em;
}
.card__wrapper {
  background: #FFFFFF;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  max-width: 498.65px;
  margin-bottom: 20px;
}

.cardi__image {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.cardi__content {
  padding: 16px 13px 12px 13px;
}
.cardi__text {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 21.09px;
  color: #000000;
}
.cardi__description {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 17px;
  line-height: 19.92px;
  color: #000000;
}
.cardi__wrapper {
  background: #FFFFFF;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

.footer {
  background: #353535;
  height: 186px;
  color: #FFFFFF;
}
.footer__logo {
  font-family: "Shrikhand", italic, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  padding: 22px 0px 0px 25px;
}
.footer__logo-container {
  padding: 0px 0px 22px 25px;
}
.footer__link-icon {
  padding-right: 11px;
}
.footer__link-icon2 {
  padding-right: 5px;
}
.footer__link-text {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
.footer__link-textc {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.footeri {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 30px 25px;
  gap: 16px;
  background: #353535;
  height: 186px;
  color: #FFFFFF;
}
.footeri__link-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 7px;
}
.footeri__logo {
  font-family: "Shrikhand", italic, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  position: relative;
  top: 57px;
  left: 1276px;
  gap: 10px;
}
.footeri__link-icon {
  width: 11px;
  height: 13px;
  padding-right: 18px;
}

/*<footer class="footer">

    <div class="footer__logo">Ohmyfood</div>

    <div class="footer__logo-container">
        <ul class="footer__link-list">
            <li><a href="#"><i class="footer__link-icon fas fa-map-marker-alt"></i> Proposer un restaurant</a></li>
            <li><a href="#"><i class="footer__link-icon fas fa-map-marker-alt"></i> Devenir partenaire</a></li>
            <li><a href="#">Mentions légales</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </div>
</footer>*/
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 63px;
  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  position: relative;
}
.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  font-family: "Shrikhand", italic, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 40.82px;
  text-align: center;
  color: #101010;
  padding-top: 14px;
  padding-bottom: 5px;
}
.header .icon {
  padding-left: 20px;
}

.header__logo-title {
  padding-right: 57px;
}

.headerdesktop {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 96px;
  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}
.headerdesktop .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  font-family: "Shrikhand", italic, sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 40.82px;
  text-align: center;
  color: #101010;
  padding-top: 14px;
  padding-bottom: 5px;
}
.headerdesktop .icon {
  padding-left: 20px;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background: #EAEAEA;
  padding: 0;
}
.section__location {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 17px;
}
.section__location-icon {
  width: 12px;
  height: 16px;
  color: #353535;
}
.section__location-text {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 19.92px;
  color: #353535;
}

@media screen and (min-width: 1130px) {
  .header {
    height: 96px;
  }
  .group__container {
    display: flex;
  }
  .section--fonctionnement {
    display: grid;
    justify-content: center;
    padding-right: 89px;
  }
  .section__restaurants {
    justify-content: center;
  }
  .reservation__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 109px;
    grid-row-gap: 48px;
  }
  .card__wrapper {
    width: 490px;
  }
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 30px 25px;
    gap: 16px;
    margin-top: -58px;
    background-color: red;
  }
  .footer__link-list {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-right: 229px;
    gap: 7px;
  }
  .footer__logo {
    position: relative;
    bottom: 40px;
    left: 781px;
  }
  .section__menu {
    display: grid;
    justify-content: center;
    width: 80%;
    margin-left: 119px;
  }
  .section__menu-title {
    padding-left: 175px;
  }
  .section__menu-icon {
    left: 465px;
  }
  .section__container {
    display: grid;
    justify-content: center;
    grid-gap: 37px;
  }
  .menu-item {
    width: 634px;
  }
}/*# sourceMappingURL=style.css.map */