@charset "UTF-8";
html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0 auto;
  padding: 0;
}

.main-container {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul, ol {
  list-style: none;
  padding: 0;
}

a,
a:visited,
a:active {
  text-decoration: none;
  color: #FFFFFF;
}

.reservation__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(210, 210, 210, 0.1);
  padding-top: 39.5px;
}
.reservation__section-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #000000;
}
.reservation__section-description {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #353535;
  margin-bottom: 27px;
}
.reservation__section-btn {
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  border: none;
  text-align: center;
  height: 50px;
  padding: 1rem;
  margin-bottom: 57px;
  cursor: pointer;
}
.reservation__section-btn:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
}
.reservation__section-btn .btn-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.badge {
  background: #99E2D0;
  color: #008766;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 16.41px;
  text-align: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  padding: 0.5em;
  position: relative;
  left: 242px;
  bottom: 277px;
}

.heart {
  height: 0;
}
.heart__logo {
  font-size: 25px;
  position: relative;
  left: 278px;
  bottom: 42px;
  opacity: 0;
  z-index: 2;
  transition: opacity 2s ease-in-out;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(#ff79dA, #9356dc);
  -webkit-background-clip: text;
          background-clip: text;
}
.heart:hover .heart__logo {
  opacity: 1;
  background: linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.heart__icon {
  position: relative;
  left: 250px;
  bottom: 42px;
  font-size: 25px;
  color: #101010;
  z-index: 1;
}

.heart {
  height: 0;
}
.heart .section__menu-logo {
  font-size: 25px;
  position: relative;
  left: 309px;
  bottom: 34px;
  opacity: 0;
  z-index: 2;
  transition: opacity 2s ease-in-out;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(#ff79dA, #9356dc);
  -webkit-background-clip: text;
          background-clip: text;
}
.heart:hover .section__menu-logo {
  opacity: 1;
  background: linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.heart .section__menu-icon {
  position: relative;
  left: 280px;
  bottom: 34px;
  font-size: 25px;
  color: #101010;
  z-index: 1;
}

.header__icon {
  cursor: pointer;
  margin: 24px 23px 23px 23px;
  color: #353535;
  font-size: 20px;
}

.section--fonctionnement {
  padding: 48px 20px 68px 20px;
  background: #FFFFFF;
  display: grid;
  justify-content: center;
}

.section__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.group__container {
  display: grid;
  gap: 24.94px;
  justify-content: center;
  position: relative;
}

.group__icon {
  color: #9356DC;
  position: relative;
  left: -8px;
  top: 47px;
}
.group__number {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 17px;
  color: #FFFFFF;
  position: relative;
  right: 23.1px;
  top: 45px;
}
.group .button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 322.49px;
  height: 72.38px;
  background: #F7F7F7;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
}
.group .button__icon {
  color: #7E7E7E;
  position: relative;
  right: 24px;
}
.group .button__icon-purple {
  color: #9356DC;
}
.group .button__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.section__restaurants {
  padding: 54px 18px 66px 17px;
  display: grid;
  justify-content: center;
  gap: 20px;
  background: #F7F7F7;
}

.section__title-padding {
  padding-bottom: 25px;
}

.dish__image {
  width: 100%;
  height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
}

.section__menu {
  width: 100%;
  border-radius: 40px 40px 0px 0px;
  background: #F7F7F7;
  position: relative;
  bottom: 58px;
}
.section__menu-title {
  font-family: "Shrikhand";
  font-style: italic;
  font-weight: 400;
  font-size: 28px;
  line-height: 41px;
  padding: 32px 17px 0px 17px;
}
.section__menu-icon {
  color: #101010;
  font-size: 22px;
  position: relative;
  bottom: 33px;
  left: 325px;
  cursor: pointer;
}

.container-btn {
  display: flex;
  justify-content: center;
}
.container-btn .btn__menu {
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  border: none;
  text-align: center;
  height: 50px;
  padding: 1rem;
  margin: 40px 0px 40px 0px;
  cursor: pointer;
  width: 186px;
  height: 50px;
}
.container-btn .btn__menu:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
}
.container-btn .btn__menu .btn-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.menu-item {
  margin: 12px 13px 12px 12px;
  padding: 12px 0px 12px 15px;
  max-width: 634px;
  height: 69px;
  background: #FFFFFF;
  box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
  border-radius: 15.0431px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.menu-item__title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 21.09px;
  padding-bottom: 5px;
  color: #000000;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu-item__details {
  display: flex;
  justify-content: space-between;
  margin: 0;
}
.menu-item__details .menu-item__content {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu-item__details__description {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 21.09px;
  margin: 0;
  color: #000000;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu-item__details__price {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 21.09px;
  margin: 0;
  padding-right: 15px;
  color: #353535;
  transform: translateX(0);
  transition: transform 250ms;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.menu-item__details .menu-item__confirmation {
  position: absolute;
  top: 0;
  left: 100%;
  width: 0;
  height: 100%;
  background-color: transparent;
  border-radius: 0 15.0431px 15.0431px 0;
  transition: transform 250ms, background-color 250ms;
  transform: translateX(0%);
  padding: 24px 19px;
}
.menu-item:hover .menu-item__confirmation {
  width: 59px;
  background-color: #99E2D0;
  transform: translateX(-100%);
}
.menu-item:hover .menu-item__details__price {
  margin-right: 73px;
  padding-right: 0px;
  padding-left: 48px;
}
.menu-item .menu-item__confirmation-logo {
  font-size: 20px;
  color: white;
}

.section__composition {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 28.13px;
  text-transform: uppercase;
  color: #000000;
  position: relative;
  margin: 0px 0px 12px 13px;
}
.section__composition::after {
  content: "";
  display: block;
  width: 50px;
  height: 0px;
  margin-top: 6px;
  border-bottom: 3px solid #99E2D0;
}

.card__image {
  width: 100%;
  max-height: 231px;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.card__content {
  padding: 16px 13px 12px 13px;
}
.card__text {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 21.09px;
  color: #000000;
}
.card__description {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 17px;
  line-height: 19.92px;
  color: #000000;
  margin-top: 10px;
  margin-bottom: 0px;
}
.card__icon {
  color: #101010;
  font-size: 1.4em;
}
.card__wrapper {
  background: #FFFFFF;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  max-width: 498.65px;
  margin-bottom: 20px;
}

.footer {
  background: #353535;
  height: 186px;
  color: #FFFFFF;
}
.footer__logo {
  font-family: "Shrikhand", italic, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  padding: 22px 0px 0px 25px;
}
.footer__logo-container {
  padding: 0px 0px 22px 25px;
}
.footer__link-icon {
  padding-right: 11px;
}
.footer__link-icon2 {
  padding-right: 5px;
}
.footer__link-text {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
.footer__link-textc {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  padding-left: 10px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 63px;
  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  position: relative;
}
.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  font-family: "Shrikhand", italic, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 40.82px;
  text-align: center;
  color: #101010;
  padding-top: 14px;
  padding-bottom: 5px;
}
.header .icon {
  padding-left: 20px;
}

.header__logo-title {
  padding-right: 57px;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background: #EAEAEA;
  padding: 0;
}
.section__location {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 17px;
}
.section__location-icon {
  width: 12px;
  height: 16px;
  color: #353535;
}
.section__location-text {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 19.92px;
  color: #353535;
}

@media screen and (min-width: 1130px) {
  .header {
    height: 96px;
  }
  .group__container {
    display: flex;
  }
  .section--fonctionnement {
    display: grid;
    justify-content: center;
    padding-right: 89px;
  }
  .section__restaurants {
    justify-content: center;
  }
  .reservation__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 109px;
    grid-row-gap: 48px;
  }
  .card__wrapper {
    width: 490px;
  }
  .badge {
    left: 392px;
    bottom: 280px;
  }
  .heart__logo {
    left: 432px;
  }
  .heart__icon {
    left: 404px;
  }
  .heart .section__menu-icon {
    left: 430px;
  }
  .heart .section__menu-logo {
    left: 459px;
  }
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 30px 25px;
    gap: 16px;
    margin-top: -58px;
  }
  .footer__link-list {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-right: 229px;
    gap: 22px;
  }
  .footer__logo {
    position: relative;
    bottom: 40px;
    left: 865px;
  }
  .section__menu {
    display: grid;
    justify-content: center;
    width: 80%;
    margin-left: 119px;
  }
  .section__menu-title {
    padding-left: 175px;
  }
  .section__menu-icon {
    left: 465px;
  }
  .section__container {
    display: grid;
    justify-content: center;
    grid-gap: 37px;
  }
  .menu-item {
    width: 634px;
  }
}
/*Largeur du carré*/
/*hauteur du carré*/
/*Espace entre les carrés*/
/*largeur totale du loader*/
/*hauteur totale du loader*/
/* 300 millisecondes avant affichage à apparaître à l'écran*/
/*Carré arrive par le haut*/
/*étapes de l'animation du loader */
@keyframes enter {
  0% {
    opacity: 0;
    top: -10px;
  }
  5% {
    opacity: 1;
    top: 0px;
  }
  50.9% {
    opacity: 1;
    top: 0px;
  }
  55.9% {
    opacity: 0;
    top: 10px;
  }
}
@keyframes fade-out {
  0% {
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
  }
  100% {
    -webkit-backdrop-filter: none;
            backdrop-filter: none;
    z-index: -2;
  }
}
.loader {
  display: flex;
  justify-content: center;
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  animation: fade-out 10s forwards;
  z-index: 10;
  padding-top: 300px;
}

.square {
  background: rgb(238, 174, 202);
  width: 100px;
  height: 100px;
  float: revert;
  margin-right: 5px;
  margin-top: 5px;
  position: relative;
  opacity: 0;
  animation: enter 5s forwards;
}

.enter {
  top: 0px;
  opacity: 1;
}

.square:nth-child(1) {
  animation-delay: 1800ms;
}

.square:nth-child(2) {
  animation-delay: 2100ms;
}

.square:nth-child(3) {
  animation-delay: 2400ms;
  background: #9356DC;
}

.square:nth-child(4) {
  animation-delay: 900ms;
}

.square:nth-child(5) {
  animation-delay: 1200ms;
}

.square:nth-child(6) {
  animation-delay: 1500ms;
}

.square:nth-child(8) {
  animation-delay: 300ms;
}

.square:nth-child(9) {
  animation-delay: 600ms;
}/*# sourceMappingURL=style.css.map */