//Footer Mobile
.footer {
    background: $color-background-quaternary;
    height: 186px;
    color: $color-secondary;

    &__logo {
        font-family:$font-family-title;
        font-weight: $font-weight-normal;
        font-size: $font-size-paragraph;
        line-height: $line-height-logo;
        padding: 22px 0px 0px 25px
    }

    &__logo-container{
        padding: 0px 0px 22px 25px ;
    }

    &__link-icon{
        padding-right: 11px;
    }

    &__link-icon2{
        padding-right: 5px;
    }

    &__link-text{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    }

    &__link-textc{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    }
}

//Footer Desktop
.footeri {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 30px 25px;
    gap: 16px;
    

    background: $color-background-quaternary;
    height: 186px;
    color: $color-secondary;

    &__link-list {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        gap: 7px;
    }

    &__logo {
        font-family: $font-family-title;
        font-weight: $font-weight-normal;
        font-size: $font-size-paragraph;
        line-height: $line-height-logo;

        position: relative;
        top: 57px;
        left: 1276px;
        gap: 10px;
        
    }

    &__link-icon {
        width: 11px;
        height: 13px;
        padding-right: 18px
    }


}

/*<footer class="footer">

    <div class="footer__logo">Ohmyfood</div>

    <div class="footer__logo-container">
        <ul class="footer__link-list">
            <li><a href="#"><i class="footer__link-icon fas fa-map-marker-alt"></i> Proposer un restaurant</a></li>
            <li><a href="#"><i class="footer__link-icon fas fa-map-marker-alt"></i> Devenir partenaire</a></li>
            <li><a href="#">Mentions légales</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </div>
</footer>*/