//Buttons + hover effect
/*
.btn {
    background: linear-gradient(193.33deg, $color-ellipse -11.44%, $color-btn 123.93%);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    transform: matrix(1, 0, 0, -1, 0, 0);
    color: $color-secondary;
    font-size: $font-size-small;
    line-height: $line-height-small;
    text-align: center;
    width: 180px;
    height: 50px;
    

    &:hover {
            background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15))
            , linear-gradient(200.64deg, $color-ellipse -5.2%, $color-btn 110.74%);

            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);

        }
    }
*/
        .reservation__section {
            display: flex;
            flex-direction: column;
            align-items: center;
            background: rgba(210, 210, 210, 0.1);
            padding-top: 39.5px;
    
            &-title {
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 28px;
                text-align: center;
    
                color: #000000;
            }
    
            &-description {
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 300;
                font-size: 18px;
                line-height: 21px;
                text-align: center;
    
                color: #353535;
                margin-bottom: 27px;
            }
    
            &-btn {
                background: linear-gradient(193.33deg, $color-ellipse -11.44%, $color-btn 123.93%);
                box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
                border-radius: 25px;
                border: none;
                text-align: center;
                height: 50px;
                padding: 1rem;
                margin-bottom: 57px;
                cursor: pointer;
    
                &:hover {
                    background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, $color-ellipse -5.2%, $color-btn 110.74%);
                    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
                }

                 .btn-text {
                 font-family: 'Roboto';
                 font-style: normal;
                 font-weight: 500;
                 font-size: 16px;
                 line-height: 19px;
                
                 color: $color-secondary;
                }
            }
        }

//Shadow Badge    
.badge {
    background: $color-badge;
    color: $color-txtbadge;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: $font-size-xxsmall;
    line-height:$line-height-xxsmall; //Permet de centrer le contenu voir pour un 30px
    text-align: center ;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    padding: 0.5em;
    position: relative;
    left: 70%;
    bottom: 286px;
  }

//Like + effet au clic 


//Icon goback 
.btn-goback{
    cursor: pointer;
    padding: 24px 23px 23px 23px;
    background: $color-background-quaternary;
    width: 17.2px;
    height: 16px;
}

//Section fonctionnoment + btn
.section--fonctionnement {
    padding: 48px 20px 68px 20px;
    background:#FFFFFF ;
}

.section__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;

    color: #000000;
}

//
.group__container{
    display: grid;
    gap: 24.94px;
    justify-content: center;
    position: relative;
}

//
.group {
    &__icon {
      color:#9356DC;
      position: relative;
      left: -8px;
      top: 47px;
    }
    
    &__number {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 17px;

    color: #FFFFFF;

    position: relative;
    right: 23.1px;
    top: 45px;
    }

    
    .button {
    display: flex;
    justify-content:center;
    align-items: center;
    width: 322.49px;
    height: 72.38px;
    background: #F7F7F7;

    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
     
      &__icon {
        color: #7E7E7E;
        position: relative;
        right: 24px;
      }

      &__icon-purple{
        color: #9356DC;
      }
      
      &__title {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;

        color: #000000;
      }
    }
  }
  
//section--restaurants

.section__restaurants{
    padding: 54px 18px 66px 17px;
    display: grid;
    gap: 20px;
} 

.section__title-padding{
    padding-bottom: 25px;
}
  
  
  
  
  
