//PlateAndPrice cards Mobile 
/*.menu-item {
    margin: 12px 13px 12px 12px;
    padding: 12px 0px 12px 15px;
    max-width: 634px;
    height: 69px;
    background: $color-background-primary;
    box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
    border-radius: 15.0431px;
    cursor: pointer;

    &__title {
        font-family: $font-family-body;
        font-weight: $font-weight-medium;
        font-size: $font-size-paragraph;
        line-height: $line-height-paragraph;
        padding-bottom: 5px;
    

        color: $color-primary;
    }

    &__details {
        display: flex;
        justify-content: space-between;
        margin: 0;

        &__description {
            font-family: $font-family-body;
            font-weight: $font-weight-light;
            font-size: $font-size-xsmall;
            line-height: $line-height-paragraph;
            margin: 0;

            color: $color-primary;
        }

        &__price {
            font-family: $font-family-body;
            font-weight: $font-weight-bold;
            font-size: $font-size-xsmall;
            line-height: $line-height-paragraph;
            margin: 0;
            padding-right: 15px;

            color: $color-tertiary;
        }
    }

    &:hover {
        //A compléter 
    }
}

*/

.menu-item {
    margin: 12px 13px 12px 12px;
    padding: 12px 0px 12px 15px;
    max-width: 634px;
    height: 69px;
    background: $color-background-primary;
    box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
    border-radius: 15.0431px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  
    &__title {
      font-family: $font-family-body;
      font-weight: $font-weight-medium;
      font-size: $font-size-paragraph;
      line-height: $line-height-paragraph;
      padding-bottom: 5px;
      color: $color-primary;
    }
  
    &__details {
      display: flex;
      justify-content: space-between;
      margin: 0;
  
      &__description {
        font-family: $font-family-body;
        font-weight: $font-weight-light;
        font-size: $font-size-xsmall;
        line-height: $line-height-paragraph;
        margin: 0;
        color: $color-primary;
      }
  
      &__price {
        font-family: $font-family-body;
        font-weight: $font-weight-bold;
        font-size: $font-size-xsmall;
        line-height: $line-height-paragraph;
        margin: 0;
        padding-right: 15px;
        color: $color-tertiary;
        transform: translateX(0);
        transition: transform 250ms
      }
  
      .menu-item__confirmation{
        position: absolute;
        top: 0;
        left: 100%;
        width: 0;
        height: 100%;
        background-color: transparent;
        border-radius: 0 15.0431px 15.0431px 0;
        transition: transform 250ms, background-color 250ms;
        transform: translateX(0%);
        padding: 24px 19px;
      }
      }
  
      &:hover .menu-item__confirmation{
        width: 59px;
        background-color: #99E2D0;
        transform: translateX(-100%);
      }

      &:hover .menu-item__details__price{
        transform: translateX(-148%);
    }

    .menu-item__confirmation-logo{
        font-size: 20px;
        color: white;
    }
    }
  
  

//Composition du menu 
.section__composition {
    font-family: $font-family-body;
    font-weight: $font-weight-light;
    font-size: $font-size-title;
    line-height: $line-height-title;
    text-transform: uppercase;
    color: $color-primary;
    position: relative;
    margin: 0px 0px 12px 13px;

    &::after {
        content: '';
        display: block;
        width: 50px;
        height: 0px;
        margin-top: 6px;
        border-bottom: 3px solid $color-badge;
    }
}

//Card Menu Mobile 
.card {
    &__image {
        //contient l'image de la card
        width: 100%;
        max-height: 231px;
        object-fit: cover;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    &__content {
        // styles pour le contenu de la description+icon+titreduplat
        padding: 16px 13px 12px 13px;
    }

    &__text {
        //contient le titre du plat
        font-family: $font-family-body;
        font-weight: $font-weight-bold;
        font-size: $font-size-paragraph;
        line-height: $line-height-paragraph;

        color: $color-primary;

    }

    &__description {
        font-family: $font-family-body;
        font-weight: $font-weight-light;
        font-size: $font-size-medium;
        line-height:$line-height-medium;

        color: $color-primary;
        margin-top: 10px;
        margin-bottom: 0px;
    }

    &__icon {
        color:  $color-title;
        font-size: 1.4em;
    }

    &__wrapper {
        //contient tous les éléments de la card
        background: $color-background-primary;

        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
        border-radius: 15px;
        max-width: 498.65px;
        margin-bottom: 20px;
    }

}



